# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Application specific
detected_texts/*
!detected_texts/.gitkeep
logs/*
!logs/.gitkeep
recordings/*
!recordings/.gitkeep
*.avi
*.mp4
*.log
*.json

# Config & Data
config.yaml
alarm_words.txt

# IDE specific files
.idea/
.vscode/
*.swp
.DS_Store
